@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>We are a team of hard working individuals, providing you outstanding services.</h3>

<p>We master in ecommerce shopping and ensure that our services are as suited to your needs.</p>
